@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// Font
$main-font: 'Lato', sans-serif;
$font-small: 10px;
$font-medium: 15px;
$font-big: 20px;


// Colors
$red: #B00E23;
$black: #040503;
$light-grey: #D9D9D9;
$white: #ffffff;

