#wrapper {
	background-image: url('/media/graphics/grey-background.png');
	background-position: 45% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: calc(100vh - 56px);
	padding: 15px;
}

