@import 'variables';

.firstname {
  flex-grow: 1;
  flex-basis: 200px;
}

.lastname {
  flex-grow: 1;
  flex-basis: 200px;
}

.doorName {
  flex-grow: 1;
  flex-basis: 200px;
}

.date {
  flex-grow: 1;
  flex-basis: 200px;
}

